# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
Ehthumbs.db
desktop.ini

# IDE/Editor
.vscode/
.idea/
*.suo
*.sln
.classpath
.project
.settings/

# Env/Tmp
venv/
.venv/
env/
.tmp.nosync
